.appointment-slot-picker {
	.appointment-timeslot {
		margin-bottom: 15px;
		border-color: var(--control-border);

		.card-title {
			margin-bottom: 0;
		}

		&.selected {
			border-color: var(--blue-800);
		}
	}

	&.editable {
		.appointment-timeslot {
			cursor: pointer;

			&:hover {
				box-shadow: var(--shadow-xl);
			}
		}
	}
}